<!-- Plik pochodzi z: https://github.com/tastejs/todomvc-app-template -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template • TodoMVC</title>
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/index.css">
    <script src="/js/front.js" defer></script>
</head>
<body>
{{{body}}}
</body>
</html>